*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
	float: left;
}

.top,.contre,.footer{
	width: 1440px;
	height: 100px;
	margin: 0 auto;
}
.top-left{
	width: 105px;
	height: 60px;
	margin-top: 30px;
	float: left;
	margin-left: 10%;
}
.top-left-a{
	width:105px ;
}
.top-left-a a{
	width: 105px;
	height: 30px;
	color: #ffffff;
	font-size: 12px;
	display: block;
	text-align: center;
	line-height: 30px;
	background-color: #f92525;
}
.top-left-span{
	width: 0px;
	height: 0px;
	border-color: transparent red;
	border-width: 0px 30px 10px 0px;
	border-style: solid;
	opacity: 0.4;
}
.top-right{
	width: 220px;
	height: 40px;
	float: right;
	margin-top: 30px;
	margin-right: 10%;
	line-height: 40px;
}
.top-right i{
	margin-left: 25px;
}
.top-right a{
	width: 90px;
	height: 40px;
	display: block;
	font-size: 13px;
	text-align: center;
	float: right;
	line-height: 40px;
	margin: 0 auto;
	background-color: #f92525;
	color: #FFFFFF;
	border-radius: 2px;
}
.centre{
	width: 100%;
	height: 1608px;
	position: absolute;
	background-color: #f5f5f5;
}

.centre-menu{
	width: 1120px;
	height: 51px;
	margin: 0 auto;
	margin-top: 70px;
}
.centre-menu-left{
	width: 290px;
	height: 51px;
	float: left;
}
.centre-menu-left p{
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 0px;
	color: #262b2e;
	margin-top: -8px;
}
.centre-menu-left a{
	font-size: 15px;
	color: #262b2e;
	opacity: 0.7;
}
.centre-menu-right{
	float: right;
}
.centre-menu-right ul li{
	width: 100px;
	height: 51px;
	line-height: 70px;
	text-align: center;
}
.centre-menu-right ul li a{
	width: 100px;
	height: 51px;
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #262b2e;
}
.centre-menu-right ul li a:hover{
	border-bottom: 2px solid rgba(0,0,0,0.2);
	
}

.centre-top{
	width: 1120px;
	height: 387px;
	position: relative;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 50px;
}
.centre-top-text1{
	font-size: 18px;
	line-height: 24px;
	color: #262b2e;
	display: block;
	margin-top: 15px;
	margin-left: 50px;
}
.centre-top-text2{
	height: 15px;
	font-size: 15px;
	display: block;
	margin-top: 60px;
	margin-left: 50px;
	color: #262b2e;
}
.centre-top-left{
	width: 500px;
	height: 330px;
	margin-left: 50px;
	float: left;
	margin-top: 40px;
	background-color: #FFFFFF;
}
.centre-top-left ul{
	height: 160px;
	margin-top: 15px;
	display: block;
}
.centre-top-left ul li{
	width: 160px;
	height: 160px;
	text-align: center;
	float: left;
	line-height: 180px;
}
#centre-top-left-0,#centre-top-left-1,#centre-top-left-2{
	width: 190px;
	height: 190px;
	line-height: 190px;
}
.centre-top-right{
	float: right;
	width: 500px;
	height: 330px;
	margin-top: 30px;
	margin-right: 50px;
}
#centre-top-right-1{
	width: 500px;
	height: 250px;
}
.centre-top-right-text{
	margin-top: 30px;
	margin-left: 20px;
	display: block;
	font-size: 15px;
	line-height: 24px;
	color: #262B2E;
}
.centre-footer{
	width: 1120px;
	height: 960px;
	position: absolute;
	margin-top: 387px;
}
.centre-footer-u{
	margin-top: 20px;
}
.centre-footer-li{
	width: 550px;
	height: 460px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	float: left;
}
.centre-footer-margin{
	margin-left: 20px;
}
#centre-footer-1,#centre-footer-2,#centre-footer-3,#centre-footer-4{
	width: 550px;
	height: 460px;
}
.centre-footer-1-a{
	width: 300px;
	height: 24px;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	margin-top: 50px;
	margin-left: 50px;
	color: #262b2e;
	display: block;
}
.centre-footer-1-text{
	width: 118px;
	height: 280px;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}

#centre-footer-1-chart{
	width: 320px;
	height: 320px;
	float: right;
	margin: 10px;
}
.centre-footer-1-text ul li{
	margin-top: 10px;
	margin-bottom: 49px;
}
.centre-footer-1-text ul li h3{
	font-size: 28px;
	line-height: 24px;
	color: #262b2e;
}
.centre-footer-1-text ul li a{
	font-size: 15px;
	line-height: 24px;
	color: #262b2e;
	opacity: 0.7;
	text-align: left;
	float: left;
	margin-left: 1px;
}
.centre-footer-2-style{
	position: absolute;
	width: 500px;
	height: 410px;
	display: none;
	margin-left: 25px;
	margin-top: 30px;
}
#centre-footer-2-chart0{
	display: block;
}
#centre-footer-2 a{
	position: relative;
	width: 70px;
	height: 20px;
	float: left;
	font-size: 13px;
	color: #262b2e;
	margin-top: 410px;
	margin-left: 15px;
	text-align: center;
}
#centre-footer-2-text1{
	font-weight: bold;
}
.centre-footer-3-1{
	width: 465px;
	height: 20px;
	margin: 0 auto;
	margin-top: 50px;
}
.centre-footer-3-1 a{
	font-size: 18px;
	color: #262b2e;
	line-height: 24px;
	float: left;
}
.centre-footer-3-1 i{
	float: right;
	line-height: 20px;
}
#centre-footer-3-chart{
	width: 530px;
	height: 390px;
	margin: 0 auto;
}
.centre-footer-4-view{
	width: 550px;
	height: 109px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.centre-footer-4-view h4{
	line-height: 109px;
	margin-left: 50px;
	float: left;
}
.centre-footer-4-view a{
	width: 95px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 30px;
	margin-right: 50px;
	float: right;
	display: block;
	border: solid 2px #262b2e;
	opacity: 0.1;
}
.centre-footer-4-li1{
	float: left;
	width: 65px;
	height: 340px;
	margin-left: 50px;
	margin-top: 15px;
}
.centre-footer-4-ml{
	margin-left: 50px;
}
.centre-footer-li-w{
	width: 210px;
}

.centre-footer-4-li2 a{
	width: 65px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	display: block;
	margin-top: 26px;
	text-align: center;
}
.centre-footer-4-li3 a{
	width: 100px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	display: block;
	margin-top: 26px;
	text-align: center;
}
.centre-footer-4-green{
	width: 65px;
	height: 30px;
	background-color: #5dd054;
	border-radius: 2px;
	line-height: 30px;
	font-size: 13px;
	color: #FFFFFF;
}
.centre-footer-4-red{
	width: 65px;
	height: 30px;
	background-color: #f92525;
	border-radius: 2px;
	line-height: 30px;
	font-size: 13px;
	color: #FFFFFF;
}
.footer{
	width: 1440px;
	height: 253px;
	margin-top: 1608px;
	color: #FFFFFF;
	background-color: #202124;
}
.footer-a{
	width: 105px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display:block;
	float: left;
	margin-top: 80px;
	margin-left: 20%;
	font-size: 12px;
	background-color: #F92525;
}
.footer-text{
	width: 776px;
	float: left;
	margin-left: 60px;
	margin-top: 30px;
}
.footer-text-ul{
	width: 776px;
	height: 95px;
	margin: 0 auto;
	margin-top: 30px;
}
.footer-text-li{
	width: 100px;
	height: 150px;
	float:left;
	margin-right: 60px;
}
.footer-text-li a{
	width: 120px;
	height: 30px;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	line-height: 30px;
	margin-bottom: 10px;
}